<!DOCTYPE html>
<html>
<head>
    <meta http-equiv = "Content-Type" charset="UTF-8">
    <title>重庆大学教室申请系统管理平台</title>
    <link rel = "stylesheet" type = "text/css" href = "/src/admin/css/admin.css">
</head>
<frameset id = "mainframes" framespacing = "0" border = "false" rows = "103, *" frameborder = "0" scrolling = "no">
    <frame name = "top" scrolling = "no" src = "/src/admin/header.html"></frame>
    <frameset id = "bottomframes" framespacing = "0" border = "false" cols = "210, *" frameborder = "0" scrolling = "no">
    	<frame name = "left" scrolling = "no" src = "/src/admin/left.html"></frame>
    	<frameset framespacing = "0" border = "false" rows = "*, 30" frameborder = "no">
    		<frame name = "rightfrm" id = "rightfrm" scrolling = "auto" src = "/src/admin/main.html"></frame>
    		<frame name = "footer" scrolling = "no" src = "/src/admin/footer.html">
    	</frameset>
	</frameset>
</frameset>
<noframes></noframes>
</html>