{% extends "user.html" %}
{% block main_right %}
<blockquote>
<p>教室信息查询</p>
<small>输入教室相关信息即可查询教室状态</small>
</blockquote>
<table class = "table">
  <thead>
    <tr>
      <th>所属校区</th>
      <th>教学楼</th>
      <th>教室号</th>
      <th>申请时间</th>
    </tr>
  </thead>
  <tbody>
    <tr class = "info">
      <td>
      <select class = "span8">
        <option>A区</option>
        <option>B区</option>
        <option>C区</option>
        <option>D区</option>
      </select>
    </td>
      <td>
      <select class = "span9">
        <option>第一教学楼</option>
        <option>第二教学楼</option>
        <option>第三教学楼</option>
        <option>第八教学楼</option>
      </select>
    </td>
      <td>
      <input type = "text" class = "input-block-level "  placeholder = "请输入教室号"/>
    </td>
      <td>
        <input type = "text" class = "input-block-level" value = "2013-7-13">
      </td>
    </tr>
  </tbody>
</table>
<div class = "pull-right">
  <button id = "query_btn" class = "btn btn-primary">提交</button>
  <button class = "btn btn-danger">取消</button>
</div>
<div class = "clearfix"></div>
<div id = "query_result">
  <h4 class = "muted">查询结果</h4>
  <table class = "table table-striped">
    <tr><th>所属校区</th>
      <th>教学楼</th>
      <th>教室号</th>
      <th>申请时间</th>
      <th>状态</th>
    </tr>
    <tr>
      <td>B区</td>
      <td>第二综合楼</td>
      <td>501</td>
      <td>2013-7-17</td>
      <td>可申请</td>
    </tr>
  </table>
</div>

{% endblock %}
{% block script %}
<script type="text/javascript">
$("#query_result").hide();
$("#query_btn").click(function(){
  $("#query_result").show();
});
</script>
{% endblock %}