{% extends "base.html" %}
{% block main %}
<div class = "row-fluid">
<div class = "span3">
	<!--
	<div id = "user_info" class = "well">
		<span id = "user_info_banner">用户信息</span>
		<span class="add-on"><i class="icon-envelope"></i></span>
		<p>您有1条未读消息</p>
	</div>
-->	
	<div class = "well" style = "padding: 0; padding-bottom: 20px">
		<ul class = "nav nav-list">
			<li class ="nav-header">用户信息</li>
			<li class ="divider"></li>
		</ul>
		<div class= "row-fluid">
			<div class = "span4">
				<img src = "/src/images/avatar.png" style = "width: 50px; margin-left: 13px" />
			</div>
			<div class = "span8">
				<p>默罕默德</p>
				<p>[<a href = "/user/profile/" class = "text-info">修改个人信息</a>]</p>
				<small class = "muted">上次登录时间: 2013-7-19</small>
			</div>
	</div>
	</div>
	<div id = "user_panel_1" class = "well" style = "padding: 8px 0;">
		<ul class = "nav nav-list">
			<li class = "nav-header">快速入口</li>
			<li><a href = "/user/apply/"><i class = "icon-chevron-right"></i>申请教室</a></li>
			<li><a href = "/user/check/"><i class = "icon-chevron-right"></i>查询教室</a></li>
		</ul>
	</div>
</div>
<div id = "content_right" class = "span9">
	{% block main_right %}
	{% endblock %}
</div>
</div>
{% endblock %}
{% block script %}

{% endblock %}