<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "">
<html>
<head>
<title>串根香官方网站</title>
<meta charset="utf-8">
<meta name="keywords" content="串串加盟,火锅加盟,串串香加盟,火锅连锁店">
<meta name="description" content="中国串串香火锅加盟第一牌,火曝的门店生意欢迎各界前来品尝考察;超低入门加盟费用,让你轻松当老板.电话:4008-448-588">
<link rel="stylesheet" type="text/css" href="/src/style.css" />
<link href="//cdnjs.bootcss.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css" rel="stylesheet">
<link href="//cdnjs.bootcss.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" rel="stylesheet">
<script type="text/javascript">
$(function(){
  $(".carousel").carousel('cycle', {
    interval: 2000
  });
});
</script>
</head>
<body>
<div id = "container">
	<div id = "header">
		<p id = "logo">串根香火锅</p>
	</div>
	<div id = "nav">
    <div id = "nav_bar">
      <ul>
        <a class = "nav_link" href = "/"><li><p class = "nav_text">首页</p></li></a>
        <a class = "nav_link" href = "#"><li><p class = "nav_text">关于串根香</p></li></a>
        <a class = "nav_link" href = "/news"><li><p class = "nav_text">新闻</p></li></a>
        <a class = "nav_link" href = "#"><li><p class = "nav_text">加盟串根香</p></li></a>
        <a class = "nav_link" href = "/jobs"><li><p class = "nav_text">人才招聘</p></li></a>
        <a class = "nav_link" href = "/contact"><li><p class = "nav_text">联系我们</p></li></a>
      </ul>
    </div>
	</div>
  <div class = "nav_shadow"></div>
  {% block navbar %}{% endblock %}
  {% block gallery %}{% endblock %}
  <div id = "content" class = "row">
    {% block content %}{% endblock %}
  </div>
	<div id = "footer">
    <p class = "copyright">Copyright &copy; 1995-2013 cgxhg.com All Rights Reserved.</P>
    <p class = "copyright">本网站所刊登的各种新闻﹑信息和各种专题专栏资料，均为串根香集团版权所有，未经协议授权，禁止下载使用。</p>
	</div>
  <!-- placed at the end of document so pages load faster -->
  <script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script src="//cdnjs.bootcss.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.bootcss.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap-transition.js"></script>
</div>
</body>
</html>
