<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "">
<html>
<head>
<title>串根香官方网站</title>
<meta charset="utf-8">
<meta name="keywords" content="串串加盟,火锅加盟,串串香加盟,火锅连锁店">
<meta name="description" content="中国串串香火锅加盟第一牌,火曝的门店生意欢迎各界前来品尝考察;超低入门加盟费用,让你轻松当老板.电话:4008-448-588">
<link rel="stylesheet" type="text/css" href="src/style.css" />
<link href="//cdnjs.bootcss.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css" rel="stylesheet">
<link href="//cdnjs.bootcss.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" rel="stylesheet">
<script type="text/javascript">
$(function(){
  $(".carousel").carousel('cycle', {
    interval: 2000;
  });
});
</script>
</head>
<body>
<div id = "container">
	<div id = "header">
		<p id = "logo">串根香火锅</p>
	</div>
	<div id = "nav">
	</div>
	<div id = "content" class = "row">
    <div id = "myCarousel" class = "carousel slide">
    <!--Carousel items-->
    <div class = "carousel-inner">
      <div class = "active item">
        <img src = "src/images/1.jpg"/>
        <div class = "carousel-caption">
          <h4>欢迎加盟串根香火锅</h4>
          <p>很好吃真的很好吃哦，香啊香啊香</p>
        </div>
      </div>
      <div class = "item">
        <img src = "src/images/2.jpg"/>
        <div class = "carousel-caption">
          <h4>欢迎加盟串根香火锅</h4>
          <p>很好吃真的很好吃哦，香啊香啊香,~~~~~~~~~</p>
        </div>
      </div>
      <div class = "item">
        <img src = "src/images/3.jpg"/>
        <div class = "carousel-caption">
          <h4>欢迎加盟串根香火锅</h4>
          <p>很好吃真的很好吃哦，香啊香啊香,!!!!!!!!!!!!</p>
        </div>
      </div>
    </div>
    <!--Carousel nav-->
    <a class = "carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class = "carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
	</div>
	<div id = "footer">
	</div>
  <!-- placed at the end of document so pages load faster -->
  <script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script src="//cdnjs.bootcss.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.bootcss.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap-transition.js"></script>
</div>
</body>
</html>
