{% extends "base.html" %}
{% block navbar %}<div class = "nav_bar"></div>{% endblock %}
{% block content %}
{% if news_detail %}
<p class = "news_header"><a href = "/">首页</a> &gt;<a href = "/news">新闻</a> &gt; {{ news_detail }}</p>
{% else %}
<p class = "news_header"><a href = "/">首页</a> &gt;新闻</p>
{% endif %}
<div id = "news_nav">
</div>
<div id = "news_content">
{% if news_lists %}
<ul id = "news_list">
	{% for news_list in news_lists %}
	<li><a href = "./{{ news_list.id }}">{{ news_list.news_title }}</a> | {{ news_list.news_date|date:"SHORT_DATE_FORMAT" }}</li>
	{% endfor %}
</ul>
{% elif news_detail %}
<p class = "news_title">{{ news_detail.news_title }}</p>
<p class = "news_date">{{ news_detail.news_date|date:"SHORT_DATE_FORMAT" }}</p>
<p class = "news_font">
{% if news_detail.news_image %}
<img src = "/{{ news_detail.news_image }}" />
{% endif %}
{{ news_detail.news_content }}
</p>

{% else %}
<p>没有新闻<p>
{% endif %}
</div>
{% endblock %}
