{% extends "base.html" %}
{% block title %}User Login{% endblock %}

{% block content %}
{% if state %}
<div class="alert alert-error" id = "error_message">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{ state }}
</div>
{% endif %}
		<div class="row-fluid">
			<div class="span3"></div>
			<div class="span6">
        <form action="." method="POST" id = "login_form">{% csrf_token %}
        	
					<table>
						<tr>
							<td><p>User Name:</p></td>
							<td>{{ form.username }}</td>
							<td></td>
						</tr>
						<tr>
							<td><p>Password:</p></td>
							<td>{{ form.password }}</td>
							<td></td>
						</tr>
						<tr>
							<td colspan="2">
								<input type="checkbox">&nbsp;&nbsp;Remember Me
								<button class="btn btn-primary pull-right" id = "login_btn">Login</button>
							</td>
							<td></td>
						</tr>
					</tr>
				</table>
        </form>
				<table>
					<tr>
						<td>
							<button id = "sign_up" class="btn">Don't have account?Sigun up...</button>
						</td>
						<td style="padding-top: 10px">
							<select class="selectpicker">
								<option value="student">Student</option>
								<option value="coach">Coach</option>
							</select>
						</td>
					</tr>
				</table>
			</div>
    </div>
{% endblock %}
{% block script %}
	<script type="text/javascript" charset="utf-8">
	window.setTimeout(function() {
		$("#error_message").fadeTo(500, 0).slideUp(500, function() {
			$(this).remove();
		});

	}, 3000);
	$('.selectpicker').selectpicker();
    $("#sign_up").click(function() {
       var selected = $("select option:selected").val();
       $.ajax({
       	type: 'POST',
       	url: '/user/reg/',
       	data: {
       		user_type: selected
       	},
       	success: function(result){
       		$(location).attr('href', '/user/register/');
       	},
       	error: function(){}
       });
    });
    $("#login_form").submit(function(event) {
    	
    	var username = $("#id_username").val();
    	var password = $("#id_password").val();
    	if (password == "" || username == "") {
    		event.preventDefault();
    		alert("All fields all required!");
    	}
    });
	</script>
{% endblock %}