html, body
{
  margin: 0;
  padding: 0;
  height: 100%;
}

#container
{
  height: auto !important;
  min-height: 100%;
  height: 100%;
  position: relative;
}

#banner{
  margin: 0 auto;
  width: 1000px;
  height: 150px;
}

.float
{
  float: right;
}

.overflow
{
  overflow: hidden;
}
/*----- HEADER START -----*/
#header
{
  width: 1000px;
  margin: 0 auto;
  height: 70px;
  background-image: url(/src/images/header_background.png);
  background-repeat: repeat-x;
}


#header img
{
  width: 50px;
  height: 50px;
  margin: 5px;
  margin-left: 15px;
}

#header p
{
  display: inline;
  color: rgb(96, 154, 248);
  font-size: 25px;
  position: relative;
  top: 15px;
}
/*----- HEADER END -----*/


/*----- NAV START -----*/
#nav
{
  width: 1000px;
  margin: 5px auto;
  
}

#nav ul
{
  width: 100%;
}

/*----- NAV END -----*/

/*----- MAIN START -----*/
#main
{
  width: 1000px;
  padding-bottom: 70px;
  margin: 10px auto;
} 
#main_left
{
  width: 24%;
  float: left;
}

#login_form p
{
  font-size: 20px;
}

#download p
{
 
  border-bottom: 2px solid rgb(122, 159, 242);
}
#main_mid
{
  width: 50%;
  float: left;
  margin-left: 1%;
}

#notice
{
  padding-bottom: 20px;
}

#notice p
{ 
  border-bottom: 2px solid rgb(122, 159, 242);
}
#main_right
{
  width: 24%;
  float: right;
}

#resource
{
  padding-bottom: 20px;
}

#class_resource
{ 
  border-bottom: 2px solid rgb(122, 159, 242);
}

#download
{
  padding-bottom: 20px;
}


.clear
{
  clear: both;
}

#user_info_banner
{
  display: block;
  width: 100%;
}

/*----- MAIN END -----*/

/*----- FOOTER START -----*/
#footer
{
  height: 70px;
  position: absolute;
  bottom: 0px;
  background-image: url(/src/images/footer_background.png);
  background-repeat: repeat-x;
  border-top: 1px solid rgb(214, 212, 212);
  width: 100%;
  text-align:center;
}

#footer p
{
  margin-bottom: 5px;
}
/*----- FOOTER END -----*/
